src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

    <flow name="createProductsInSapFlow" doc:name="createProductsInSapFlow">
        <collection-splitter doc:name="Collection Splitter"/>
        <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_MATERIAL_SAVEDATA" xmlVersion="2" outputXml="true" evaluateFunctionResponse="true" responseTimeout="10000" doc:name="Upsert Material to SAP">
            <sap:definition><![CDATA[<BAPI_MATERIAL_SAVEDATA>
  	<import>
	  	<HEADDATA>
	  		<MATERIAL>#[payload['ProductCode']]</MATERIAL>
	  		<MATL_TYPE>${sap.material.type}</MATL_TYPE>
	  		<IND_SECTOR>${sap.material.industrySector}</IND_SECTOR>
	  		<BASIC_VIEW>X</BASIC_VIEW>
	  	</HEADDATA>
	  	<CLIENTDATA>
	  		<BASE_UOM>${sap.material.baseUnitOfMeasurement}</BASE_UOM>
	  	</CLIENTDATA>
	  	<CLIENTDATAX>
	  		<SIZE_DIM>X</SIZE_DIM>
	  		<BASE_UOM>X</BASE_UOM>
	  	</CLIENTDATAX>
	</import>
  	<tables>
	  	<MATERIALDESCRIPTION>
	  		<row id="0">
	  			<LANGU>E</LANGU>
  				<LANGU_ISO>EN</LANGU_ISO>
  				<MATL_DESC>#[payload['Name']]</MATL_DESC>
  			</row>
	  	</MATERIALDESCRIPTION>
	</tables>
</BAPI_MATERIAL_SAVEDATA>]]></sap:definition>


        </sap:outbound-endpoint>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <logger level="INFO" message="Create Test Products in SAP result: #[payload]" doc:name="Logger"/>
    </flow>
    <flow name="queryProductFromSalesforceFlow" doc:name="queryProductFromSalesforceFlow">
        <sfdc:query-single config-ref="Salesforce" query="SELECT Id, Name, ProductCode FROM Product2 WHERE ProductCode = '#[payload['ProductCode']]'" doc:name="Query Product from Salesforce"/>
        <logger level="INFO" message="Retrieve Products from Salesforce result: #[payload]" doc:name="Logger"/>
    </flow>
    <flow name="queryProductFromSapFlow" doc:name="queryProductFromSapFlow">
        <enricher source="#[payload.isEmpty() ? NullPayload.getInstance() : payload[0]]" target="#[payload]" doc:name="Store result in record var 'materialInSap'">
            <processor-chain doc:name="Processor Chain">
                <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="ZMULE_MATERIAL_GETLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Query Material from SAP">
                    <sap:definition><![CDATA[<ZMULE_MATERIAL_GETLIST>
<import>
<I_MAT_ID>#[payload['ProductCode']]</I_MAT_ID>
</import>
</ZMULE_MATERIAL_GETLIST>]]></sap:definition>


                </sap:outbound-endpoint>
                <dw:transform-message doc:name="ZMULE_MATERIAL_GETLIST to Salesforce Materials">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.ZMULE_MATERIAL_GETLIST.tables.T_MARA.*row map
{	
	Name: $.MAKTX,
	LastModifiedDate: $.LAST_MODIF_DATE,
	CreatedById: $.ERNAM,
	LastModifiedById: $.AENAM,
	ProductCode: $.MATNR
}]]></dw:set-payload>
        </dw:transform-message>
            </processor-chain>
        </enricher>
        <logger level="INFO" message="Retrieve Products from SAP result: #[payload]" doc:name="Logger"/>
    </flow>
    <flow name="deleteProductsFromSapFlow" doc:name="deleteProductsFromSapFlow">
        <foreach doc:name="For Each">
            <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Delete Material from SAP" functionName="BAPI_MATERIAL_SAVEDATA">
                <sap:definition><![CDATA[<BAPI_MATERIAL_SAVEDATA>
  	<import>
	  	<HEADDATA>
	  		<MATERIAL>#[payload]</MATERIAL>
	  		<BASIC_VIEW>X</BASIC_VIEW>
	  	</HEADDATA>
	  	<CLIENTDATA>
	  		<DEL_FLAG>X</DEL_FLAG>
	  	</CLIENTDATA>
	  	<CLIENTDATAX>
	  		<DEL_FLAG>X</DEL_FLAG>
	  	</CLIENTDATAX>
	</import>
</BAPI_MATERIAL_SAVEDATA>]]></sap:definition>


            </sap:outbound-endpoint>
        </foreach>
    </flow>
    <flow name="deleteProductsFromSalesforceFlow" doc:name="deleteProductsFromSalesforceFlow">
        <sfdc:delete config-ref="Salesforce" doc:name="Delete Product from Salesforce"/>
        <logger message="Remove Products from Salesforce result: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
